.product-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.product-title{
    padding-bottom: 10rem;
    text-align: center;
    font-size: 3rem;
}

.item-container{
    display: flex;
    flex-direction: row;
}

.label-title, .label-code, .label-thumbnail, .label-price, .label-description, .label-stock{
    margin-top: 1rem;
    margin-bottom: 10px;
}

.title, .description, .thumbnail, .price, .stock, .code{
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-title, .input-thumbnail, .input-price, .input-description, .input-stock, .input-code{
    text-indent: 20px;
    width: 350px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid white;
}

.input-code::placeholder, .input-description::placeholder, .input-price::placeholder, .input-stock::placeholder, .input-thumbnail::placeholder, .input-title::placeholder{
    color: #1e1e1e;
    text-indent: 20px;
    font-size: 1rem;
}

.input-code:focus, .input-description:focus, .input-price:focus, .input-stock:focus, .input-thumbnail:focus, .input-title:focus{
    outline: none;
    text-indent: 20px;
}

.button-container{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-button{
    text-align: center;
    margin-top: 2rem;
    width: 200px;
    height: 50px;
    background-color: #A0C7AB;
    border: 1px solid #A0C7AB;
    text-decoration: none;
    font-size: 1.2rem;
}

