.product-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-form{
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 60rem;
    margin-top: 1rem;
    background-color:  #888484;
}

.title, .description, .thumbnail, .price, .stock, .code{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.input-title, .input-description, .input-thumbnail, .input-price, .input-stock, .input-code{
    border-radius: 5px;
    width: 12rem;
    height: 3rem;
    margin-top: .9rem;
    background-color: #888484;
    border: 1px solid #888484;
    border-bottom: 1px solid rgb(84, 201, 84);
}


.input-title::placeholder, .input-title:focus{
    color: #1e1e1e;
    text-indent: 1rem;
}

.input-description::placeholder, .input-description:focus{
    color: #1e1e1e;
    text-indent: 1rem;
}

.input-thumbnail::placeholder, .input-thumbnail:focus{
    color: #1e1e1e;
    text-indent: 1rem;

}

.input-price::placeholder, .input-price:focus{
    color: #1e1e1e;
    text-indent: 1rem;
}

.input-stock::placeholder, .input-stock:focus{
    color: #1e1e1e;
    text-indent: 1rem;
}

.input-code::placeholder, .input-code:focus{
    color: #1e1e1e;
    text-indent: 1rem;
}

.product-buttom{
    border-radius: 10px;
    width: 15rem;
    height: 3rem;
    margin-bottom: 1rem;
    background-color: aliceblue;
    border: 1px solid rgb(84, 201, 84);
}

.product-buttom:hover{
    background-color: rgb(84, 201, 84);
    width: 15.2rem;
    height: 3.2rem;
}
