
<section>
    {{#each products}}
        <div>
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <span>{{price}}</span>
            <p>{{stock}}</p>
        </div>
    {{/each}}
</section>