
<section>
    {{#each products}}
        <div>
            <h2>{{products.title}}</h2>
            <p>{{products.description}}</p>
            <span>{{products.price}}</span>
        </div>
    {{/each}}
</section>