<section class="login-conteiner">
    <div class="login-form">
        <form action="http://localhost:8080/api/auth/login" method="post">
            <div class="email">
                <label for="email">Email</label>
                <input class="input-email" type="email" name="email" placeholder="johndoe@email.com">
            </div>
            <div class="password">
                <label for="password">Password</label>
                <input class="input-password" type="password" name="password" placeholder="password">
            </div>
            <button class="login-buttom" type="submit">
                Log In
            </button>
        </form>
    </div>
</section>

<link rel="stylesheet" href="./css/login.module.css">