<section class="login-container">
    <h1 class="login-title">Login</h1>
    <div>
        <form action="http://localhost:8080/api/auth/login" method="post">
            <div class="login-item">
                <label class="label-email" for="email">Email</label>
                <input class="input-email" type="email" name="email" placeholder="JohnDoe@gmail.com">
            </div>
            <div class="login-item">
                <label class="label-password" for="password">Password</label>
                <input class="input-password" type="password" name="password" placeholder="Password">
            </div>
            <div class="button-container">
                <button class="login-button" type="submit">Log In</button>
                <a class="redirect-button" href="register">Register</a>
            </div>
        </form>
    </div>
</section>

<link rel="stylesheet" href="./css/login.module.css">