<section class="register-container">
    <h1 class="register-title">Register User</h1>
    <div class="register-form">
        <form>
            <div class="item-container">
                <div class="first_name">
                    <label class="label-first_name" for="first_name">First Name</label>
                    <input class="input-first_name" type="text" name="first_name" placeholder="John">
                </div>
                <div class="last_name">
                    <label class="label-last_name" for="last_name">Last Name</label>
                    <input class="input-last_name" type="text" name="last_name" placeholder="Doe">
                </div>
            </div>
            <div class="age">
                <label class="label-age" for="age">Age</label>
                <input class="input-age" type="number" name="age" placeholder="25">
            </div>
            <div class="email">
                <label class="label-email" for="email">Email</label>
                <input class="input-email" type="email" name="email" placeholder="Johndoe@email.com">
            </div>
            <div class="password">
                <label class="label-password" for="password">Password</label>
                <input class="input-password" type="password" name="password" placeholder="assword">
            </div>
            <div class="button-container">
                <button class="register-button" type="submit">
                    Register
                </button>
            </div>
        </form>
    </div>
</section>

<link rel="stylesheet" href="./css/register.module.css">